*{
    padding: 0;
    margin: 0;
}
body, 
html{
    height: 100%;
}
img{
    max-width: 100%;
    width: auto;
    height: auto;
} 
@font-face {
    font-family: 'helveticaneuecyrlight';
    font-size: 16px;
}
.header{
    background: url(../img/pic_header.png) no-repeat;
    background-size: cover;
    width: 100%;
    padding: 35px 0;
}
.responsive-menu{
    display: none;
}
.nav-menu .closed{
	display: none;
}
.nav-menu ul.sub-menu{
    display: flex;
    list-style: none;
}
.nav-menu ul.sub-menu li{
    list-style: none;
 }
.nav-menu ul.sub-menu li a{
    display: block;
 }
 .nav-menu ul.sub-menu li a button{
    font-size: 16px;
    font-family: 'helveticaneuecyrlight';
    color: #ffd800;
    padding-right: 18px;
    transition: 0.3s;
    text-transform: uppercase;
    text-decoration: none;
 }
 .nav-menu ul.sub-menu li:last-child a button{
     padding-right: 0;
 }

.nav-menu ul.sub-menu li a button:hover{
    color: #fff;
}
.nav-menu ul.sub-menu li a button:focus,
.nav-menu ul.sub-menu li a button{
     border: none;
     background: inherit;
     outline: none;
     cursor: pointer;
 }
 .header-contacts{
     display: flex;
     justify-content: space-between;
 }
 .artical{
    font-size: 13px;
    font-family: 'helveticaneuecyrlight';
    color: #fff;
    padding-top: 3px;
 }
 .info {
     text-align: center;
     margin-left: 17px;
     line-height: 17px;
 }
 .info .tel{
	font-family: 'helveticaneuecyrroman';
	font-size: 23px;
	color: #fff;
	transition: 0.7s;
}
 .work-time{
    font-size: 14px;
    font-family: 'helveticaneuecyrlight';
    color: #fff;
 }
 .countdown_block1 h2{
    font-family: 'helveticaneuecyrbold_italic';
    font-size: 30px;
    color: #4f3333;
    font-weight: bold;
    padding-top: 35px;
    text-align: center;
 }
 .text_special_offers p{
    font-family: 'helveticaneuecyrlight_italic';
    font-size: 18px;
    text-align: center;
    margin-top: 18px;
    line-height: 0.3;
    color: #230000;
 }
 .countdown_block1_bg{
    background: url("../img/section_header.png");
    background-size: cover;
    margin-top: 37px;
    width: 100%;
}
.countdown_block1_bg h2{
    font-family: 'helveticaneuecyrlight';
    color: #fff;
    font-size: 24px;
    text-align: center;
    padding: 33px 0 36px 52px;
}
.multicard_block h2{
    font-family: 'helveticaneuecyrbold_italic';
    font-size: 30px;
    color: #230000;
    text-align: center;
    margin: 35px 0 30px 0;
}
.multicard_block p{
    font-family: 'helveticaneuecyrlight';
    font-size: 16px;
    color: #4f3333;
}
.about_product_block {
    background: url("../img/new-pic-man.png") no-repeat;
    background-size: cover;
    background-position: center;
}
.about_product_block h2{
    text-align: center;
    color: #ffd800;
    padding-top: 38px;
    font-size: 28px;
}
.img_order img{
    margin-bottom: 17px;
}
.list ul{
    list-style-image: url("../img/img_ul.png");
    margin: 20px 0 58px 20px;
}
.list ul li{
    font-family: 'helveticaneuecyrlight';
    color: #fff;
    font-size: 16px;
    padding: 0 0 12px 28px;
}
.img_wallet {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-left: 20px;  
}
.img_wallet img{
    padding-bottom: 20px;
}
.about_multicard p{
    font-family: 'helveticaneuecyrbold_italic';
    color: #4f3333;
    font-size: 15px;
    padding: 33px 0 20px 0;
}
.img_order a{
    z-index: 999;
}

.reviews_block{
    background: url("../img/bg_reviews.png") no-repeat;
    background-size: cover;
    padding-bottom: 30px;
}
.reviews_block h2{
    font-family: 'helveticaneuecyrbold_italic';
    font-size: 30px;
    color: #ffd800;
    text-align: center;
    padding-top: 40px;
}
.reviews-box_parent {
	display: flex;
	flex-direction: row;
}
.reviews_box_img img{
    max-width: 200px;
    margin: 20px 17px 28px 0;
}
.reviews_box_text h2{
    font-family: 'helveticaneuecyrlight';
    color: #ffd800;
    font-size: 16px;
    text-transform: uppercase;
    text-align: start;
    padding-top: 23px;
}
.reviews_box_text p{
    font-family: 'helveticaneuecyrlight';
    color: #fff;
    font-size: 16px;
}
.countdown_block2 h2 {
    font-family: 'helveticaneuecyrbold_italic';
    font-size: 30px;
    color: #4f3333;
    font-weight: bold;
    padding-top: 35px;
    text-align: center;
}
.sale_box_text p{
    font-family: 'helveticaneuecyrlight_italic';
    font-size: 18px;
    text-align: center;
    margin-top: 18px;
    line-height: 0.4;
    color: #230000;
 }
 .sale_box{
     position: relative;
 }
 .sale_box_img3 .red-wallet{
    position: absolute;
    top: 172px;
    left: 0;
}
.sale_box_img2 .black-wallet{
    position: absolute;
    top: 133px;
    left: 207px;
    z-index: 1;
}
 .sale_box{
     background-image: url("../img/red_figure.png");
     background-repeat: no-repeat;
     padding: 48px 0 59px 40px;
     position: relative;
     top: 64px;
     left: 150px;
     z-index: 2;
 }
 .sale_prise_new {
     color: #ffd800;
     font-size: 24px;
     margin-left: -10px;
     font-family: 'helveticaneuecyrbold';
 }
 .sale_prise_old{
    font-family: 'helveticaneuecyrlight';
    color: #fff;
    font-size: 16px;
 }
 #countdown #countdown2{
    display: flex;
 }
.countSeconds,
.countDays,
.countMinutes,
.countHours{
	width: 70px;
    height: 70px;
    border-radius: 50%;
    background:#fff;
    background-size: contain;
	text-align: center;
    display: inline-block;
    margin: 14px 9px 16px 6px;
}
.position{
    font-family: 'helveticaneuecyrlight';
    font-size: 34px;
	color: #900002;
	display: inline-block; 
    position: relative; 
    width: 16px;
}
.countSeconds p,
.countDays p,
.countMinutes p,
.countHours p{
    color: #900002;
    font-family: 'helveticaneuecyrlight';
    font-size: 16px;
    margin-top: -15px;
}
.Form-box{
    display: flex;
    flex-direction: column;
    width: 380px;
    height: 390px;
    padding: 20px;
    background: #d60002;
    margin-top: 38px;
    border-radius: 5px;
    margin-left: 90px;
}
.sale{
    font-family: 'helveticaneuecyrlight_italic';
    color: #fff;
    text-align: center;
    font-size: 22px;
 }
.form_box_child input {
    width: 100%;
	border: none;
	margin-bottom: 12px;
	padding: 10px;
	border-radius: 4px;
	font-family: 'helveticaneuecyrroman';
	font-size: 18px;
 }
 .form_box_child input:focus{
     outline: none;
 }
 .submit input {
	width: 100%;
	border: none;
	border-radius: 4px;
	background-color: #ffd800;
	padding: 6px;
	font-family: 'helveticaneuecyrbold';
	font-size: 22px;
	color: #d60002;
	cursor: pointer;
}
.submit input:hover{
	background-color: #beda54;
	color: #230000;

}
.menu-police ul.about-menu li a button:focus,
.menu-police ul.about-menu li a button{
	font-family: 'helveticaneuecyrlight';
	font-size: 24px;
	border: none;
    background-color: inherit;
	cursor: pointer;
	text-decoration: underline;
	color: #ffd800;
	margin-right:  20px;
	outline: none;
}
.footer_bg{
    background-image: url("../img/bg_footer.png");
    margin-top: 30px;
}
.privacy-policy ul.about-menu {
	list-style: none;
	display: flex;
	justify-content: center;
    padding-top: 37px;
}
.text-footer{
    padding-bottom: 25px;
}
.text-footer p{
	text-align: center;
	font-family: 'helveticaneuecyrlight';
    font-size: 15px;
    color: #fff;
    line-height: 1px;
}


