@font-face {
    font-family: 'Tahoma';
    src: url('Tahoma.woff2') format('woff2'),
        url('Tahoma.woff') format('woff'),
        url('Tahoma.svg#Tahoma') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Tahoma';
    src: url('Tahoma.woff2') format('woff2'),
        url('Tahoma.woff') format('woff'),
        url('Tahoma.svg#Tahoma') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Tahoma';
    src: url('Tahoma-Bold.woff2') format('woff2'),
        url('Tahoma-Bold.woff') format('woff'),
        url('Tahoma-Bold.svg#Tahoma-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Tahoma';
    src: url('Tahoma-Bold.woff2') format('woff2'),
        url('Tahoma-Bold.woff') format('woff'),
        url('Tahoma-Bold.svg#Tahoma-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Tahoma';
    src: url('Tahoma.woff2') format('woff2'),
        url('Tahoma.woff') format('woff'),
        url('Tahoma.svg#Tahoma') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

