/* CSS Document */

@media (min-width: 1200px){
    .for_page .container {
        max-width: 998px;
    }
    }
@media(max-width: 1199px){
    .nav-menu .item-menu a {
        font-size: 13px;
        padding-right: 35px;
        padding-left: 35px;
    }
    .about-heading::after {
        min-width: 290px;
    }
    .parent {
        padding-top: 23px;
    }
    .services::after {
        min-width: 207px;
    }
    .support::after {
        min-width: 153px;
    }
    .team-text p {
        font-size: 10px;
    }
    .clients::after {
        min-width: 826px;
    }
    .social-box-parent1 .fab {
        margin-right: 10px;
    }
}
@media(max-width: 991px){ 
    .menu{
        display: block;
    }
    .nav-menu{
        display: none;
        position: fixed;
        background: #e2e2e2;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        padding: 20px;
        z-index: 10;
        text-align: center;
        }
        .nav-menu ul.menu {
            display: block;
            }
    
        .responsive-nav {
            display: flex;
            justify-content: space-between;
        }
        .responsive-nav-name{
            font-size: 9px;
            font-size: 20px;
            color:  #7e7e7e;
            
            }
        .icon-humburher i{
            color: #333;
            font-size: 20px;
            transition: 0.7;
            cursor: pointer;
            }
        .icon-humburher i:hover{
            color: #29c5e6;
            }
            .nav-menu .closed {
                display: block;
                position: absolute;
                right: 35px;
                top: 20px;
            }
        .closed i{
            cursor: pointer;
            font-size: 24px;
            transition: 0.7s;
            }
        .closed i:hover{
            color: #29c5e6;
            }
            
            .tabs-content h2 {
                font-size: 37px;  
            }
            .tabs li  {
            width: 50%;
            font-size: 12px;
            padding: 13px 15px;  
            margin-bottom: 0;
        }
        .tabs .label::before {
            width: 23px;
            height: 23px;
        }
        .about-heading {
        font-size: 12px;
    }
    .about-heading::before {
        left: -20px;
        top: 16px;
    }
    .about-heading::after {
        min-width: 169px;
    }
    .main_text {
       font-size: 9px;
    }
    .team-position {
        font-size: 10px;
    }
    .services::after {
        min-width: 126px;
    }
    .parent {
        padding-top: 20px;
        font-size: 12px;
    }
    .parent::before {
        top: 16px;
    }
    .teams::after {
        min-width: 117px;
    }
    .support::after {
        min-width: 8px;
        left: 99px;
        }
        .clients::after {
            min-width: 586px;
        }
    

    .services_text {
        font-size: 10px;
    }
    .btn3 {
        margin-top: 15px;
    }
    .team-text h2 {
        font-size: 10px;
    }
    
.team-text p {
    font-family: 'Tahoma';
    font-weight: normal;
    font-style: normal;
    font-size: 9px;
    color: #b2b2b2;
    line-height: 1;
    text-align: justify;
    margin-top: -6px;
}
.clients {
    font-size: 12px;
    padding-top: 17px;
}
footer {
    margin-top: -21px;
}
.footer .h2 {
    font-size: 12px;
}
.twitter-text {
    font-size: 9px;
}
.footer-menu li a {
    font-size: 10px;
}

.social-box-parent1 .fab {
    width: 25px;
    height: 25px;
    font-size: 17px;
    padding: 4px;
}
.social-box-parent1 .fab {
    margin-right: 2px;
}
.social-box-parent2 .fab {
    width: 14px;
    height: 14px;
    margin-right: 1px;
    font-size: 7px;
    padding: 4px;
}

.social-box-parent2 .fas {
    width: 14px;
    height: 14px;
    margin-right: -8px;
    font-size: 7px;
    padding: 4px;
}
.text-footer {
    font-size: 9px;
    padding-top: 16px;
}
}
@media(max-width: 767px){
    .page {
        padding-bottom: 400px;
    }
    .header-box-form {
        display: none;
    }
    .responsive-nav{
        padding-bottom: -30px;

    }
    .responsive-nav-name {
        padding-bottom: 10px;
    }
    .tabs .label{
        font-size: 15px;
    }
    .tabs .label::before {
        width: 23px;
        height: 24px;
    }
    .about-heading::after {
        min-width: 350px;
    }
    .about-heading {
        padding-top: 41px;
    }
    .main_text {
        font-size: 12px;
    }
    .services_text {
        font-size: 12px;
    }
    .services::after {
        min-width: 424px;
    }
    .teams::after {
        min-width: 416px;
    }
    .about_services {
        margin-bottom: 10px;
    }
    .team-text p {
        font-size: 11px;
        margin-top: 1px;
    }
    .support::after {
        min-width: 374px;
    }
    .clients::after {
        min-width: 404px;
    }
    .footer .h2 {
        font-size: 10px;
    }
    .footer-menu {
        column-count: 6;
        font-size: 12px;
        font-weight: bold;
        text-align: center;
    }
    .btn4 {
        font-size: 9px;
    }
    .twitter-text {
        font-size: 9px;
    }
    .social-box{
        margin-top: -77px;
        text-align: center;
    }
    .social-box-parent1{
        padding-top: 9px;
    }
    .social-box-parent2 .fab {
        width: 17px;
        height: 17px;
        font-size: 10px;
        padding: 3px;
        margin-left: 6px;
    }
    .social-box-parent2 .fas {
        width: 17px;
        height: 17px;
        font-size: 10px;
        padding: 3px;
        margin-left: 2px; 
    }
    .logo-footer{
        padding-top: 0; 
        display: block;
        text-align: center;
    }
    .text-footer {
        font-size: 8px;
        text-align: center;
        padding: 10px 0 20px 0;
    }
 
}
@media(max-width: 600px){
    .tabs li {
        width: 100%;
    }
.footer .h2 {
    text-align: start;
}
.responsive-nav-name {
    padding-bottom: 0;
}
.owl-dots {
    display: flex;
    justify-content: center;
}
.slider-dot {
    display: inline-block;
    width: 15px;
    height: 15px;
    transition: 0.4s;
    border-radius: 100%;
    border: 1px solid #666;
    box-shadow: inset 1px 1px 1px #888;
    background-color: #eee;
    margin-right: 10px; 
    
}
.slider-dot:focus{
    outline: none;
}
.slider-dot:hover{
    background-color: #7e7e7e;
}
}
@media(max-width: 500px){
    .about-heading::after {
        min-width: 312px;
    }
    .services::after {
        min-width: 387px;
    }
    .teams::after {
        min-width: 380px;
    }
    .support::after {
        min-width: 350px;
    }
    .clients::after {
        min-width: 371px;
    }
    

}
@media(max-width: 470px){
        
}
@media(max-width: 375px){
    .about-heading::after {
        min-width: 187px;
    }
    .services::after {
        min-width: 263px;
    }
    .teams::after {
        min-width: 263px;
    }
    .teams::after {
        min-width: 255px;
    }
    .support::after {
        min-width: 226px;
    }
    .clients::after {
        min-width: 243px;
    }
}



